@model AnimalShop.Web.ViewModels.PetAdvices.PetAdviceListingViewModel

@{
    this.ViewData["Title"] = "SmallPets Advices";
}

    <h2 class="text-center">SmallPets Advices</h2>

<div class="adviceListingResult">
    <ul style="list-style: none;">
        @foreach (var advice in Model.PetAdvices)
        {
            <partial name="_AdvicePartial" model="advice" />
        }
    </ul>
</div>
