@{
    this.ViewData["Title"] = "Contacts";
}
    <h4>Your message was sent successful. </h4>
    <h4>You will be redirected to the home page.</h4>
<script type="text/javascript">
    function Redirect() {
        window.location = "https://localhost:44319/";
    }
    setTimeout('Redirect()', 10000);
</script>
<div class="text-center">
    <img class="align-self-md-center" src="https://media.giphy.com/media/1xkMJIvxeKiDS/giphy.gif" />
</div>
