@using AnimalShop.Common
@{
    this.ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Welcome to @GlobalConstants.SystemName!</h1>
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="5"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="6"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img class="d-block w-100" src="https://i.ytimg.com/vi/MPV2METPeJU/maxresdefault.jpg" alt="First slide" height="600" width="400">
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100" src="https://icatcare.org/app/uploads/2018/07/Thinking-of-getting-a-cat.png" alt="Second slide" height="600" width="400">
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100" src="https://static.scientificamerican.com/sciam/cache/file/7A715AD8-449D-4B5A-ABA2C5D92D9B5A21_source.png" alt="Third slide" height="600" width="400">
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100" src="https://thumbs-prod.si-cdn.com/5QwTBMmLrEYh-E3cw4xDxAOgNrs=/fit-in/1600x0/https://public-media.si-cdn.com/filer/b5/1f/b51fb708-cc74-4354-a3c2-d237d1a84030/angelfish.jpg" alt="Third slide" height="600" width="400">
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100" src="https://www.thesprucepets.com/thmb/LYIw2AOWaqr9_qF2s4roQZjI7C0=/3628x2721/smart/filters:no_upscale()/close-up-of-a-hamster-eating-groundnut-635096689-5c525f88c9e77c0001d7c1fa.jpg" alt="Third slide" height="600" width="400">
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100" src="https://7wallpapers.net/wp-content/uploads/1_Chinchilla.jpg" alt="Third slide" height="600" width="400">
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100" src="https://ichef.bbci.co.uk/images/ic/1280xn/p07ppctk.jpg" alt="Third slide" height="600" width="400">
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>

    </div>
