@model AnimalShop.Web.ViewModels.ProductsInCart.ProductCartListingViewModel

@{
    this.ViewData["Title"] = "My Cart";
}

<div>
    <p>
        <strong>@Model.Count product(s) in your cart.</strong>
    </p>
</div>

<div class="row">
    @foreach (var product in Model.Products)
    {
        <partial name="../Shared/_CartPartialView.cshtml" model="product" />
    }
</div>

<div>
    <p>
        <strong>$@Model.SumOfProducts is your sum.</strong>
    </p>
    <button type="button" class="btn btn-primary">Finish Order</button>
</div>

