@model AnimalShop.Web.ViewModels.Products.ProductListingViewModel

@{
    this.ViewData["Title"] = "Chinchillas Houses";
}

<div>
    <p>
        <strong>@Model.Count product(s) found</strong>
    </p>
</div>

<div class="row">
    @foreach (var house in Model.Products)
    {
        <partial name="../Shared/_ProductPartialView.cshtml" model="house" />
    }
</div>
