@model AnimalShop.Web.ViewModels.Food.FoodViewModel

<div class="col-md-4 media" style="background-color: snow">
    <a asp-controller="Details" asp-action="Food" asp-route-id="@Model.Id">
        <img src="@Model.Image" width="100" class="mr-3" />
        <div class="media-body">
            <h4>@Model.Name</h4>
            <p class="text-dark">
                @{ var weight = Model.Weight + "kg";}
                @weight for <strong>$@Model.Price</strong>
            </p>
        </div>
    </a>
</div>