@model AnimalShop.Web.ViewModels.Products.ProductViewModel

<div class="col-md-4 media" style="background-color: snow">
    <a asp-controller="Details" asp-action="Product" asp-route-id="@Model.Id">
        <img style="margin-bottom: 10px" src="@Model.Image" width="100" class="mr-3" />
        <div class="media-body">
            <h4>@Model.Name</h4>
            <p class="text-dark">
                <strong>$@Model.Price</strong>
            </p>
        </div>
    </a>
</div>