@model AnimalShop.Web.ViewModels.Toys.ToysViewModel

<div class="col-md-4 media" style="background-color: snow">
    <img src="@Model.Image" width="100" class="mr-3" />
    <div class="media-body">
        <h4>@Model.Name</h4>
        <p>
            <strong>$@Model.Price</strong>
        </p>
    </div>
</div>